:root {
    --primary-color: #6ee7b7;
    --secondary-color: #59c59a;

    --box-background: #d9f3e8;
    --box-color: #2f604c;
    --box-border: #b1d2c4;
    --box-tab-background: #a2f3cb;
    --box-tab-background-disabled: #8ad8b1;
    --box-tab-foreground: #000000;
    --box-header-background: #6ee7b7;

    --promo-button-background: linear-gradient(0deg, #ff9028 0% 50%, #ffb224 50% 100%);
    --promo-button-background-hover: #ff9028;
    --promo-button-foreground: #662000;
    --promo-button-border: #ac6019;

    --table-header-background: #a4ffdb;
    --table-row-background: #cbf0e1;
    --table-row-alt-background: #beead7;
    --table-border: #a5cebc;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #e4f5ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 100%;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 16px 0;
}

content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    background: var(--box-background);
    color: var(--box-border);
    border-top: 1px solid var(--box-border);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-top: 64px;
}

footer.big {
    color: var(--box-tab-foreground);
    padding: 32px 0;
}

a {
    color: #000;
}

*>a {
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
}

button {
    background: var(--promo-button-background);
    border: 1px solid var(--promo-button-border);
    border-radius: 4px;
    color: var(--promo-button-foreground);
    text-shadow: 0 1px #804e15;
    font-weight: bold;

    font-size: 16px;
    padding: 8px;
}

button:hover {
    cursor: pointer;
    background: var(--promo-button-background-hover);
}

table {
    border-collapse: collapse;
    border: solid 1px var(--box-border);
}

table tr {
    background-color: var(--table-row-background);
    border-bottom: 1px solid var(--table-border);
}

tr:nth-child(even) {
    background-color: var(--table-row-alt-background);
}

table td,
table th {
    border-right: 1px solid var(--table-border);
}

table td:last-child,
table th:last-child {
    border-right: none;
}

table td,
table th {
    padding: 4px;
    text-align: left;
}

table tr:last-child {
    border-bottom: none;
}

table tr:first-child {
    background: var(--table-header-background);
}

table.vertical tr:first-child {
    background: var(--table-row-background);
}

.img-gradient {
    position: relative;
    display: inline-block;
}

.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%);
}

/**
--- BOX
*/

.features-box>.tab {
    background: var(--box-background);
    border: 1px solid var(--box-border);
    padding: 4px 0;
    margin-bottom: 64px;
    border-radius: 4px;
}

.features-box:has(.tab)>.content {
    display: flex;
    flex-direction: column;
    gap: 128px;
    line-height: 1.5em;
}

.features-box:has(.tab)>.content>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
}

.features-box:has(.tab)>.content>section:nth-child(even) {
    flex-direction: row-reverse;
}

.features-box:has(.tab)>.content>section>.description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.features-box:has(.tab)>.content>section:nth-child(even)>.description>* {
    text-align: right;
}

.features-box:has(.tab)>.content>section>.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-box:has(.tab)>.content>section>.icon>img {
    width: 72px;
    height: 72px;
}

.small-features>section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.5em;
}

.small-features>section>.icon>img {
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--box-border);
}

.small-features>section:nth-child(1)>.icon>img {
    background: linear-gradient(to left, #059669, #065f46);
}

.small-features>section:nth-child(2)>.icon>img {
    background: linear-gradient(to left, #d97706, #92400e);
}

.small-features>section:nth-child(3)>.icon>img {
    background: linear-gradient(to left, #2563eb, #1e40af);
}

.small-features>section:nth-child(4)>.icon>img {
    background: linear-gradient(to left, #dc2626, #991b1b);
}

/**
--- WIKI
*/

.wiki-sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    min-width: 256px;
    max-height: 100vh;

    overflow-y: scroll;

    background: var(--wiki-sidebar-background);

    padding: 8px;

    font-size: 16px;
    gap: 6px;

    box-shadow: 2px 0 1px rgba(0, 0, 0, 0.25);
}

.wiki-sidebar h1 {
    font-size: 20px;
    font-weight: 600;
}

.wiki-sidebar h2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 4px;
}

.wiki-sidebar h1,
.wiki-sidebar h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.wiki-sidebar ul {
    list-style: none;
    margin: 0 8px;
}

.wiki-sidebar a {
    color: rgb(4, 120, 87);
    text-decoration: underline;
}

.wiki-sidebar a:hover {
    color: rgb(16, 185, 129);
}

.script-description {
    margin-top: 4px;
}

.script-description h1 {
    font-size: 32px;
    font-weight: 600;
}

.script-description h2 {
    font-size: 24px;
    font-weight: 600;
}

.script-description h3 {
    font-size: 18px;
}

.script-description h1,
.script-description h2,
.script-description h3,
.script-description h4 {
    margin: 16px 0;
    color: var(--box-color);
    border-bottom: solid 1px var(--box-border);
}

.script-description p {
    margin: 4px 0;
}

.script-description ul {
    margin: 0 32px;
}

.script-description li {
    list-style-type: disc;
}

.script-description a {
    color: rgb(4, 120, 87);
    text-decoration: underline;
}

.script-description a:hover {
    color: rgb(16, 185, 129);
}

.script-description code {
    background-color: var(--box-border);
    color: var(--box-color);
    padding: 2px;
}

.script-description pre code {
    display: block;
    width: 100%;
}

.script-description blockquote {
    background-color: var(--box-color);
    color: var(--box-background);
    padding: 2px;
    margin: 16px 0;
    border-left: solid 4px var(--box-border);
}

/**
--- SCRIPT LINKS
*/
.script-links {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 8px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.script-links img {
    height: 12px;
    vertical-align: middle;
}

/**
--- BOX
*/

box {
    background-color: var(--box-background);
    border: solid 1px var(--box-border);
}

box>header {
    background-color: var(--box-header-background);
    border-bottom: solid 1px var(--box-border);
    box-shadow: 0 2px 6px var(--box-border);
    padding: 4px;
}

box>content {
    padding: 4px;
}

/**
--- SHORTCUTS
*/

.background-colorful {
    background: var(--primary-color);
}

.w-50 {
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.self-end {
    align-self: flex-end;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.gap-64 {
    gap: 64px;
}

.gap-32 {
    gap: 32px;
}

.gap-16 {
    gap: 16px;
}

.gap-8 {
    gap: 8px;
}

.p-24 {
    padding: 24px;
}

.p-16 {
    padding: 16px;
}

.p-4 {
    padding: 4px;
}

.border {
    border: 0.25px solid rgba(133, 133, 133, 0.25);
}

.font-small {
    font-size: 12px;
}