<footer>
    <div class="wrapper infooter">
        <div class="content infooter">
            <section>
                <strong>
                    <span class="material-symbols-outlined">
                    info
                    </span> About this bot
                </strong>
                <hr>
                <p>Authorized as <a href="https://twitch.tv/<%= bot_name %>"><b><%= bot_name %></b></a></p>
                <p>Running on <b><%= version %></b></p>
                <p>Uptime: <b><%= fuptime %></b></p>
            </section>
            <section>
                <strong>
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    Links
                </strong>
                <hr>
                <a href="">
                    <span class="material-symbols-outlined">
                        hub
                    </span>
                    GitHub
                </a><br>
                <a href="">
                    <span class="material-symbols-outlined">
                        bug_report
                    </span> 
                    Report an issue...
                </a><br>
                <a href="">
                    <span class="material-symbols-outlined">
                        book
                    </span> 
                    Docs
                </a>
            </section>
            <section>
                <img src="https://hmmtodayiwill.ru/i/00001.jpeg" width="128" style="cursor:not-allowed">
            </section>
        </div>
    </div>
</footer>