<title><%= pagetitle %> - ITB2</title>

<link rel="stylesheet" href="../css/style.css">
<% if (darkmode) { %>
    <link rel="stylesheet" href="../css/darkstyle.css">
<% } %>
<link rel="favicon icon" href="../img/favicon.png">

<meta property="og:title" content="<%= pagetitle %>">
<meta property="og:url" content="https://bot.hmmtodayiwill.ru/<%= pageurl %>">
<meta property="og:site_name" content="iLotterytea's Twitch Bot 2">
<meta property="og:image" content="../img/og_main_image.png">
<meta property="og:description" content="A little utility & fun twitch chat bot created by iLotterytea. Check it out!">