<div class="navigation">
    <a href="/" id="brand">
        <img src="img/logo.png" width="32">
        <h3 style="padding-left: 12px; color: var(--text-1);">iLotterytea's Twitch Bot 2</h3>
    </a>
</div>
