<!--
 Copyright (C) 2022 NotDankEnough (ilotterytea)
 
 This file is part of itb2.
 
 itb2 is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 itb2 is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with itb2.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head_meta", { pageurl: "", pagetitle: "Commands" }) %>
    </head>
    <body>
        <%- include("../partials/navbar.ejs", {targets: [
            "ilotterytea", "greddyss", "m4x0nn", "monkeos",
            "xomachel", "leonidtelevizor", "humanstudi0"
        ]}) %>
        <div class="wrapper">
            <div class="content">
                <section>
                    <h2 id="cmd_name">Ping!</h2>
                    <div id="cmd_description">
                        <div id="cmd_desc_content">
                            <code>!ping</code>
                            <p id="cmd_realestdescription">lol</p>
                            <div id="cmd_params">
                                <p id="cmd_perms"><span class="material-symbols-outlined">military_tech</span> Permissions: be cool</p>
                                <p id="cmd_cooldown"><span class="material-symbols-outlined">timelapse</span> Cooldown: 5 sec.</p>
                            </div>
                            <div id="cmd_dialog">
                                <div class="msg">
                                    <span style="color: rgb(95 ,95, 95);">20:38</span> <img src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1"> <span style="color: #898989;">greddyss:</span> lol
                                </div>
                                <div class="msg">
                                    <span style="color: rgb(95 ,95, 95);">20:39</span> <img src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1"> <span style="color: #898989;">greddyss:</span> xd
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>