@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.font-zilla {
  font-family: "Zilla Slab", serif;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
}

.command {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
  color: rgb(5, 150, 105);
  font-weight: 600;
  font-family: monospace;
  font-size: 16px;
}

.command:hover {
  color: rgb(16, 185, 129);
}
